/** Шрифты*/

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf')format('truetype');
    font-weight: 600;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf')format('truetype');
    font-weight: 100;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf')format('truetype');
    font-weight: 500;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans-Light';
    src: url('../fonts/IBMPlexSans-Light.ttf');
    src: local('☺'), url('../fonts/IBMPlexSans-Light.woff') format('woff'), url('../fonts/IBMPlexSans-Light.eot') format('truetype'), url('../fonts/IBMPlexSans-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans-Regular';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    src: local('☺'), url('../fonts/IBMPlexSans-Regular.woff') format('woff'), url('../fonts/IBMPlexSans-Regular.eot') format('truetype'), url('../fonts/IBMPlexSans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans-Thin';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    src: local('☺'), url('../fonts/IBMPlexSans-Thin.woff') format('woff'), url('../fonts/IBMPlexSans-Thin.eot') format('truetype'), url('../fonts/IBMPlexSans-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans-SemiBold';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
    src: local('☺'), url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'), url('../fonts/IBMPlexSans-SemiBold.eot') format('truetype'), url('../fonts/IBMPlexSans-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans-Medium';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    src: local('☺'), url('../fonts/IBMPlexSans-Medium.woff') format('woff'), url('../fonts/IBMPlexSans-MediumItalic.ttf') format('truetype'), url('../fonts/IBMPlexSans-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    display: swap;
}



body {
    font-family: 'IBM PLEX Sans', sans-serif;
}





/** Общие стили */

html {
    box-sizing: border-box;

}

.menu__button {
    display: none;
}

body {
    display: block;
    max-width: 96rem;
    width: 100%;
    min-width: 16rem;
    margin: 0 auto;
}

.header {
    font-size: 24rem;
    font-weight: 500;
    color: #a3cc40;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.simple-text {
    font-size: 0.7rem;
    line-height: 1.4;
    padding: 2.5% 0 2.5%;
    text-align: center;
    padding: 1rem;
}

.simple-text1 {
    font-size: 0.9rem;
    line-height: 1.3;
    color: #FFFFFF;
    text-align: left;
    padding-right: 5.5rem;
    padding-top: 1rem;
}

.simple-text2 {
    font-size: 0.75rem;
    line-height: 1.3;
    color: #FFFFFF;
    text-align: right;
    padding: 1.3rem 0rem 0.6rem 0rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1.9rem;
    position: relative;
    gap: 1.5rem;
    z-index: 11;
}

/*
textarea,
select {
    font-size: 19px;
    color: #6c6c6c;
    padding: 15px 11px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    transition: .2s;
}

input {
    position: relative;

    border-radius: 5px;
    max-width: 500px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    font-size: 16px;
    padding-left: 23px;
    position: relative;
}

input[type="radio"]+label::before,
input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
}

input[type="radio"]+label::before {
    border-radius: 100%;
}

input[type="textarea"] {
    height: 250px;
    resize: none;
}

input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

input[type="file"]+label {
    font-size: 18px;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 15px;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}*/


.button1 {
    display: inline-block;
    background: #fff;
    /*padding: 0.2rem 0.5rem;*/
    border-radius: 0.5rem;
    font-size: 0.7rem;
    transition: .2s;
    border: 1px solid #fff;
    cursor: pointer;


}

.button1:hover {
    color: #fff;
    background: #a3cc40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-shadow: 0px 0.2rem 0.45rem rgba(144, 210, 61, 0.3);

}

.call__ico-svg:hover {
    fill: #fff;
}

/*input[type="button"],
button {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 6px;
}*/

.button1__big {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.7rem;
    /*margin-top: 0.rem;*/
    background-color: #a3cc40;
    border: none;
    color: #fff;
    border-radius: 0.3rem;
}

.button1__big:hover {
    background-color: #fff;
    color: #a3cc40;
    border: 1px solid #a3cc40;
}

.button1__small {
    width: 13rem;
    height: 1.9rem;
    line-height: 0;
    font-size: 1rem;
    float: right;
    transition: .2s;
    color: #FFFFFF;
    background: #a3cc40;
    border: 1px solid rgba(163, 204, 64, 0.62);
    border-radius: 0.3rem;
    margin-top: 1.3rem;

}

.button1__small {
    font-family: IBM Plex Sans-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
}

.button1__small:hover {
    color: #a3cc40;
    background: #fff;
    border: 1px solid rgba(237, 238, 234, 0.87);
    box-shadow: 0px 0.2rem 0.45rem rgba(246, 248, 244, 0.3);
}




*,
*::before,
::after {
    box-sizing: inherit;
}

.container {
    max-width: 54.5rem;
    margin: 0 auto;
    padding: 0 0.75rem;

}

.container__small {
    max-width: 48rem;
}

.container__wide {
    max-width: 66.5rem;
}

/*
table {
    border-collapse: collapse;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

}*/

/* p {
    margin: 0px;
    float: left;

} */

/*button {
    border-radius: 6px;
    background: #FFFFFF;
}*/

label {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.33;
    text-align: center;
    color: #333333;
}

/*label:hover {
    color: #fff;
}*/

.link-white {
    font-family: IBM Plex Sans;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    transition: 2s;
    text-decoration: none;
}

.link-white:hover {
    color: #a3cc40;
    border-bottom: 1px;
    text-decoration: underline;
}

.link-underline {
    border-bottom: 1px solid;
}

/*input[type="button"]:hover,
button:active {
    border: none;
}

.button {
    display: inline-block;
    padding: 16px 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(144, 210, 61);
    border-radius: 15px;
}*/







/** Компоненты */

.block01 {
    min-height: 100vh;
    background: no-repeat center/cover url("../images/Backgroound\ Picture.jpg") mediumaquamarine;
    position: relative;
    overflow: hidden;
    /*width: 1125px;*/
    height: 40.25rem;


}








.block04 {
    min-height: 100vh;
    background: no-repeat center/cover url("../images/block04.jpg") transparent;
    position: relative;
    overflow: hidden;
    background-position-y: 4.2rem;
    /*width: 1125px;*/
    height: 42.25rem;

}

.block07 {
    min-height: 100vh;
    background: no-repeat center/cover url("../images/block06.jpg") mediumaquamarine;
    position: relative;
    overflow: hidden;
    height: 49.6rem;

}


.footer {

    background: #a3cc40;
    position: relative;
    overflow: hidden;
    /*width: 1126px;*/
    height: 23.1rem;

}


/** Сетка макета */
.block01__mail {
    margin-left: 4.4rem;
}

.block01__tel {
    margin-left: 1.9rem;
}

/*.block01__row2>p>a,
.block01__row1>p>a,
.block01__row1>p>span {
    float: left;
    line-height: 2.6(em);
    margin: 0;
}*/

/*.block01__row2>p>a,
.block01__row1>p>a,
.block01__row1>p>span,
{
    padding-left: 2.3rem;
    padding-right: 3.6rem;
}*/

/*.block01__tel {
    padding-left: 22px;
}*/

/*.block01__mail {
    padding-left: 19px;
}
*/
.block01__col1 {
    float: left;
    margin: auto;
    /*display: inline-block;*/
    position: relative;
    padding-right: 2.12rem;
    padding-left: 1px;

}

.block01__col2 {

    margin-top: -0.2rem;
}

.block01__phone-call {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.33;
    text-align: center;
    color: #333333;
}

.block01__phone-call:hover {
    color: #fff;
}

.block01::after {
    content: '';
    display: block;
    width: 100%;
    border-top: 5rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;

}

.block01__header {
    margin-left: -1rem;
    padding-top: 0.5rem;
}

.block02__header,
.block03__header,
.block05__header,
.block06__header,
.block07__header {
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1.3;
    color: #A3CC40;

}

.block01__mail {
    line-height: 0.33;
}

.button1 svg {
    fill: #333333;
}

.button1 svg:hover {
    color: #FFFFFF;
}

.block01__lang {
    float: right;
}

.block01__lang-dropdown {
    margin-right: 4rem;
    float: right;
    display: block;
    margin-top: -1rem;
}

.dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .0);
    /* left: -0.7rem;
    bottom: 0; */
    transform: translateY(100%);
    top: 3rem;

}

.dropdown-list a {
    font-family: IBM Plex Sans;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.6rem;
    text-transform: uppercase;
    transition: 2s;
    display: block;
    padding: 0.2rem 0.7rem;
    text-decoration: none;
}

.dropdown-list a:hover {
    color: #a3cc40;
    background: #000;
}

.dropdown-trigger span {
    font-family: IBM Plex Sans;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.7rem;
    display: inline-block;
    transition: 0.2s;
}

.dropdown-trigger svg {
    fill: #FFFFFF;
    vertical-align: middle;
    display: inline-block;

}

.dropdown-trigger {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.dropdown-trigger:hover span {
    color: #a3cc40;

}

.dropdown-trigger:hover svg {
    color: #a3cc40;
}

/* .dropdown_opened .dropdown__trigger svg {
    transform: rotate(180deg);
} 

 .dropdown_opened .dropdown__list {
    display: block;
}     */


.block01__tel,
.block01__mail,
.block01__address,
.block01__call {
    float: left;
    line-height: 1.0 em;

}

.block01__address {
    margin-left: 5rem;
}

.block01__speakers,
.block01__even,
.block01__contact,
.block01__sponsors,
.block01__past {
    float: left;
    line-height: 1.0 em;
    margin-left: 2.0rem;
}

.block01__speakers,
.block01__contact,
.block01__sponsors,
.block01__past {
    padding-left: 3.3rem;
}

.block01__sponsors {
    padding-left: 4rem;
}

/*.block01__mail{
    line-height: 0.33;
}*/

/*
.block01__even {
    padding-left: 93px;
}

.block01__speakers {
    padding-right: 38px;
}

.block01__sponsors {
    padding-right: 60px;
}

.block01__past {
    padding-right: 51px;
}

.block01__address {
    padding-left: 17px;
    padding-right: 47px;
}*/

.button1 {
    margin-left: 5rem;
}

.block01__row {
    padding: 2rem 0rem 6rem 0rem;

}

.block01__row2 {
    padding-top: 0.5rem;
}

.block01__closed {
    display: none;
}


.block01__h1 {
    font-family: IBM Plex Sans-Thin;
    font-weight: 100;
    /* font-size: 80px;*/
    line-height: 1em;
    margin: 0.5rem 0 0.8rem;
    color: #FFFFFF;
    font-style: normal;
    font-size: 4.3rem;
    line-height: 1.33;
    text-align: center;
}

.block01__h2 {
    font-family: IBM Plex Sans-Regular;
    font-size: 3.0rem;
    text-align: center;
    line-height: 1em;
    color: #FFFFFF;
}

.block02_inner {
    position: relative;
}

.block02__info {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1.5rem 0.8rem rgb(163 204 64 / 18%);
    border-radius: 0.7rem;
    padding: 2.7rem 2.9rem;
    max-width: 27.3rem;
    right: 15.5rem;
    bottom: -7.3rem;
}

.block02__text1 {
    font-family: IBM Plex Sans-Semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 1.3;
    color: #333333;
}

.block02__text2 {
    font-family: IBM Plex Sans;
    font-size: 0.7rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 0.8rem;
}

.block02 {
    padding: 0.14rem 0 0;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -0.15rem;
}



.block02__header {
    margin-bottom: 5.2rem;
}

.block02__inner {
    padding-top: 4.8rem;
}

.block02__pluses {
    display: flex;
    justify-content: space-around;
}

.block02__plus {
    display: flex;
    flex-direction: column;
    /*padding: 0 2.2rem;*/
    text-align: center;
    padding: 1rem;
    width: 33.33%;

}


.scale {
    transition: 1s;
    /* Время эффекта */
}

.scale:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.container_block02 {
    /* padding: 0 -27px;*/
    max-width: 57.0rem;
}

.block02__pluses {
    margin: 0 -2rem;
    padding: 0 2rem;
}

.block02__text3 {
    white-space: nowrap;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    padding: 2.25rem 0 0 0;
}





.block03 {
    padding-top: 3.7rem;
}

.block03__row {
    display: flex;

}

.block03__row1,
.block03__row2 {

    flex-direction: column;
}



.block03__table {
    display: grid;
    grid-template-columns: 10% 25% 30% 35%;
    margin-top: 3rem;
    line-height: 2.3;
    border-collapse: collapse;
    border-radius: 0.7rem;
    overflow: hidden;
}




.block03__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.33rem;
    line-height: 2.3;
    background-color: #a3cc40;
    color: #fff;
}

.block03__link-svg {
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}



.block03__line2 {
    background: #4c4d4f;
    font-family: IBM Plex Sans;
    font-size: 0.9rem;
    line-height: 3.3;
    color: #FFFFFF;
    text-decoration: none;

}

.block03__line1 {
    background: #373737;
    font-family: IBM Plex Sans;
    font-size: 0.9rem;
    line-height: 3.3;
    color: #FFFFFF;
    text-decoration: none;

}

.block03__line-svg {
    text-align: center;
}

.block_03_checkbox {
    display: none;
}

.block_03_checkbox:checked+label>svg>path {
    fill: #a3cc40;
}



.block03_text_wrapper {
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 1.75rem;
}








/*
.block03 {
    margin-top: 80px;
    overflow: hidden;
}

.block03__first {
    /* text-align: center;
}

.block03__link {
    text-decoration: none;
}

.block03__table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
}

.block03__table a {
    color: #fff;
}

.block03__table tbody tr:nth-child(2n+1) {
    background: #4c4d4f;

}

.block03__table tbody tr:nth-child(2n) {
    background: #6c6c6c;
}

.block03__table thead {
    background-color: #a3cc40;

}

.block03__table tfoot {
    background-color: #6c6c6c;
}

.block03__table td {
    padding: 10px 31px;

}

.block03__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;

}

.block03_text_wrapper {
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 35px;
}
*/

.block04 {
    overflow: hidden;
}

.block04__image-wrap img {
    border-radius: 100%;
    right: 0;
    float: left;
    position: relative;


}

.block04_present-descr {
    float: right;
    max-width: 66.66%;
    padding-top: 9.6rem;
}

.block04::before {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 5rem solid transparent;
    border-left: 100vw solid #fff;
    position: absolute;
    left: 0;
    top: 4.2rem;

}

.block04__header {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 2rem;

}

.block04::after {
    content: '';
    display: block;
    width: 100%;
    border-top: 5rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;

}

.block05 {
    padding: 2.5rem 0;
    overflow: hidden;
}

.block05__header {
    margin: 0 0 1.5rem;
}

.block05__text1 {
    /*margin: -15px -31px 18px;*/
    max-width: 68%;
    text-align: right;
    padding-bottom: 3rem;
    padding-left: 0rem;
}

.block05__movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block05__movie1 {

    width: 33.33%;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    height: 22.56rem;
}

.block05__descr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 14, 0.7);
    padding: 2rem;
    transform: translateY(100%);
    transition: 0.2s;
    z-index: 2;
    transition-delay: .2s;
}

.block05__movie1:hover .block05__descr {
    transform: translateY(0);
}

.block05__shadow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(22, 22, 22, 0.8);
    z-index: 1;
    transition: 0.2s;
}

.block05__movie1:hover .block05__shadow {
    background: rgba(22, 22, 22, 0);
}

.block05__text2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
}

.block05__text3 {
    font-size: 0.6rem;
    line-height: 1.4;
    color: #fff;
    text-align: left;
}

.block05__bg>img {
    display: block;
    width: 100%;
}





.block06 {
    padding: 2.5rem 0;
    overflow: hidden;
}

.block06__products {
    margin-right: -2rem;
}

.block06__header {
    margin-top: 2.35rem;
    display: inline-block;
}


.block06__text1 {
    /*margin: 10px -31px 18px;*/
    max-width: 68%;
    text-align: right;
    padding-left: 0rem;
    padding-bottom: 3rem;
}

.block06__item {
    position: relative;
    /*width: 244px;*/
    border-radius: 0.7rem;
    overflow: hidden;
    float: left;
    /*display: inline-block;*/
    width: 33.33%;
    padding: 0rem 2.0rem 0.67rem 0rem;
}

.block06_add-img {
    width: 100%;
    height: 100%;

}

.block06_item>img {
    display: block;
}

.block06__abs {
    position: absolute;
    left: 0.15rem;
    right: 0;
    bottom: 0;
    background: rgba(163, 204, 64, 0.8);
    padding: 0.3rem 2.35rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    height: 5.5rem;
    width: 16.0rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    box-sizing: border-box;
    bottom: 1.1rem;
}

.block06__abs::before {
    position: absolute;
    content: '';
    display: block;
    border-top: 3.5rem solid transparent;
    border-right: 16.0rem solid rgba(163, 204, 64, 0.8);
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

/*.block06__inner {
    /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;*/


.block06__inner_one {
    margin-top: 1.3rem;
}

/*.block06__inner_two {
    margin-top: 0.9rem;
}*/

.block06__inner_three {
    margin: -0.5rem;
}

/*.block06__item img{
position: absolute;
width: 245px;
height: 331px;
}*/







.block07::before {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #fff;
    position: absolute;
    left: 0;
}

.block07__header {
    padding-top: 8rem;
}

.block07__text1 {
    margin: 0.5rem 0rem 1rem;
    max-width: 70%;
    text-align: right;
}


/*.block07__list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(163, 204, 64, 0.8);
    padding: 12px 30px;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    height: 90px;
}

.block07__list::before {
    position: absolute;
    content: '';
    display: block;
    border-top: 70px solid transparent;
    border-right: 244px solid rgba(163, 204, 64, 0.8);
    top: 0;
    left: 0;
    transform: translateY(-100%);
}*/


.block07__item {
    /* position: relative; */
    /* width: 244px; */
    border-radius: 0.7rem;
    overflow: hidden;
    float: left;
    /* display: block; */
    width: 86%;
    padding: 2.5rem 0rem 8.1rem 3.1rem;
    text-align: center;
}





.block07__item>img {

    width: 13.3rem;
    height: 9.6rem;

}

.block07__review {
    margin-left: -2.5rem;
}

.block07__item:hover {
    transform: scale(1.2);
}


.block07__name {
    font-weight: 600;
    font-size: 0.94rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.block07__name {
    padding-top: 0.7rem;
    text-align: left;
    margin-left: -1rem;
}


.block07__descr {
    font-size: 0.6rem;
    line-height: 1.3;
    color: #FFFFFF;

}

.block07__descr {
    padding-top: 0.6rem;
    text-align: left;
}

.block07__descr__text1 {
    padding-left: 0.9rem;
    margin-left: -1.6rem;
    /* padding-top: 14px; */
    /* padding-right: 0px; */
    /*text-align: left;*/
    margin-right: -1.3rem;
}

.block07__descr__text2 {

    padding-left: 0.7rem;
    margin-left: -1.5rem;
    /* padding-top: 14px; */
    /* padding-right: 0px; */
    /* text-align: left; */
    margin-right: -1.5rem;
}

.block07__descr__text3 {
    padding-left: 0.7rem;
    margin-left: -1.5rem;
    /* padding-top: 14px; */
    /* padding-right: 0px; */
    /* text-align: left; */
    margin-right: -0.4rem;
}

.block07__abs {
    position: relative;
    bottom: 0;
    background: rgba(163, 204, 64, 0.8);
    padding: 0rem 1.6rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 400;
    color: #fff;
    height: 4.5rem;
    padding-bottom: 8.2rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}


.block07__date {
    position: absolute;
    font-weight: 300;
    font-size: 0.5rem;
    /* line-height: 1.3; */
    /* text-align: right; */
    margin-right: -0.8rem;
    /*padding-bottom: -7px;*/
    /* margin-top: 0.5rem; */
    bottom: 0.6rem;
    right: 1.4rem;
}

.block07::after {
    content: '';
    display: block;
    width: 100%;
    border-top: 5rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;

}

/*.block07__arrow {
    float: left;
    margin-top: 8rem;
}*/







.block08 {
    padding-top: 2.2rem;
}

.block08__inner {
    height: 33.3rem;
    background: linear-gradient(to right, transparent 30%, white 80%), url("../images/krists-luhaers-AtPWnYNDJnM-unsplash.png") no-repeat;
    background-size: 62% 100%;
    border-radius: 0.9rem;
    box-shadow: 0 0 1.5rem rgb(189 181 181);

}

.block08__feedback {
    float: right;
    margin: 1.25rem 1.5rem 0rem 0rem;
    text-align: center;
    width: 45%;

}

.block08__abs {
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.33;
    color: #a3cc40;
}


.st-input1 {
    position: relative;
    border-radius: 0.31rem;
    max-width: 100%;

}

.st-input1__input {
    font-size: 0.9rem;
    padding: 0.6rem 0.7rem;
    width: 100%;
    border: 0;
    border-radius: 0.25rem;
    background: #dedede;
    border: 1px solid #dedede
}

.st-input1__input:webkit-autofill {
    box-shadow: inset 0 0 0 2.5rem #dedede !important
}

.st-input1__label {
    position: absolute;
    /* left: 0.85rem;
    top: 2.5rem;*/
    z-index: 1;
    transition: .2s;
    font-size: 0.75rem;
    color: #a1a1a1;
    top: 14px;
    left: 16px;

}

.st-input1:hover,
.st-input1_focused {
    background: #FFFFFF;
    box-shadow: 0 0 0 0.31rem rgba(170, 243, 77, 0.52);

}

.st-input1_focused .st-input1__label {
    top: -0.5rem;
    /*left: 0.87rem;*/
    background: #fff;
    /* padding: 0 0.43rem;*/
    color: #333333;
}

.st-input1__input:hover {
    border: 1px solid #c4c4c4;
    background: #FFFFFF;
    box-shadow: 0 0 0 0.25rem rgba(170, 243, 77, 0.52);


}



.st-input1_error {
    box-shadow: 0 0 0 .25rem rgb(220, 60, 16 / 50%);
}

.st-input1__error-msg {
    font-size: 0.55rem;
    position: absolute;
    bottom: 0.1rem;
    left: 0.75rem;
    color: #dc3c10;
}



.input-select {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #a1a1a1;
    padding: 0.6rem 0.75rem;
    border-radius: 0.25rem;
    border: 0;
    width: 100%;
    transition: 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/arrow.svg) no-repeat #dedede;
    background-position: right center;
    background-origin: 0px;

}

.input-select-selected {
    background-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(170, 243, 77, 0.52);
}

.input-text {
    font-size: 0.9rem;
    padding: 0.6rem 0.7rem;
    width: 100%;
    border: 0;
    border-radius: 0.25rem;

    border: 1px solid #dedede
}




.st-checkbox input {
    display: none;
}

.st-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333333;
    font-size: 0.6rem;
    margin-bottom: 1.5rem;
}

.st-checkbox__dot {
    border: 1px solid rgb(170, 243, 77);
    border-radius: 0.2rem;


}


/*.input-checkbox{
    color: tomato;
}*/

.input-checkbox+span>svg>path {
    /*color: #a3cc40;*/
    fill: white;
}

.input-checkbox:checked+span>svg>path {
    /*color: #a3cc40;*/
    fill: #FFFFFF;
}

.input-checkbox:checked+span {
    /*color: #a3cc40;*/
    background-color: #a3cc40;
}




.st-input1_focused,
.st-input1__input {

    border: 1px solid #c4c4c4;
}


.block09 {
    padding-top: 6.2rem;
}

.block09__image-wrap>img {
    width: 100%;
}






.block10__footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding-top: 3rem;
}

.block10__col1 {
    float: left;
    margin: auto;
    /*display: inline-block;*/
    position: relative;
    padding-right: 6.75rem;
    padding-left: 3.7rem;
    margin-top: 0rem;
}

/* .block10__col2 {
    
    /* height: 300px; */
/* display: grid;
    gap: 1rem;
} */

/* .block10__col3 {
    display: grid;
    gap: 1rem;
  
} */
.block10__row2 {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
}

.block10__row3 {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
}


.block10__row {
    font-family: IBM Plex Sans;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #FFFFFF;

}



.block10__row2 a {
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.3;
    color: #FFFFFF;
    text-decoration: none;

}

.block10__row3 a {
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.3em;
    color: #FFFFFF;
    margin-top: 1.2rem;
    text-decoration: none;
}

.footer1 {
    font-family: IBM Plex Sans;
    font-size: 1em;
    line-height: 1.3em;
    color: #FFFFFF;
    padding-top: 2.2rem;
    padding-left: 3.3rem;
}

.block10_icon {
    float: left;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #BEE956;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: relative;
    margin-right: 1.5rem;
    margin-top: 1rem;

}

.block10__icon1 {
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;

}

.block10__icon2 {
    position: absolute;
    left: 0.7rem;
    top: 0.6rem;
}

.block10__icon3 {
    position: absolute;
    left: 0.7rem;
    top: 0.7rem;
}

.block10__icon4 {
    position: absolute;
    left: 0.6rem;
    top: 0.7rem;
}

.block10__icon5 {
    position: absolute;
    left: 0.9rem;
    top: 0.6rem;
}

.block10_icon:hover svg {
    background-color: #e84676;
}

.to_top {
    fill: white;
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    background: rgba(0, 0, 0, .5);
    padding: 0.75rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10000;
}


/* second */

.block01_second {

    background: no-repeat center/cover linear-gradient(89.92deg, #251A1B 24.47%, #4F272F 64.85%);
    min-height: 0;
    /* padding-bottom: 1.75rem;*/


}

.block01_second,
.block01__header {
    padding-top: 1.75rem;
}

.block01_second::after {
    display: none;
}

.single {
    padding: 2rem 0;
    background: #e5e5e5;
    margin: 1.25rem 1.25rem 0;
}

.single__inner {
    display: flex;
}

.single__left {
    flex: 0 0 50%;
    padding-right: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.single__left>img {
    margin-left: 1rem;
    width: 18.75rem;
    height: 25rem;
}

.single-text {

    font-size: 0.75rem;
    line-height: 1.3;
    color: #A1A1A1;
    padding-right: 1.1rem;
    margin-bottom: 1rem;
}


.single__header {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.1;
    color: #333333;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
}

.single__right {
    padding-left: 2rem;

}

.single__info {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


.single__bold {
    font-weight: 600;
    font-size: 0.65rem;
    color: #4c4d4f;
    margin-right: 2rem;
}



.single-td2 {

    font-size: 0.68rem;
    line-height: 2.0;
    color: #696969;
    

}

.single__table tr td:first-child,
.single-td2,
.single__lenght {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}




.single__table tr td:first-child {
    color: #a3cc40;
    font-weight: 600;
    width: 30%;
    font-size: 0.68rem;
    line-height: 1.3;
}

.single__lenght {
    color: #2f2e2e;
    font-size: 0.68rem;
    font-weight: 600;
    line-height: 2.0;
}

.like-icon{
    cursor: pointer;
    fill: #687250;
}

.like-icon:hover {
    fill: #A3CC40;
}

.like-icon--liked {
    color: #A3CC40;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.rating {
    color: #687250;
}

.rating:hover {
    color: #A3CC40;
}

.rating-star {
    cursor: pointer;
}

.star-selected {
    color: #A3CC40
}



.rating-star:hover~.rating-star {
    color: #687250;
}

.rating svg {
    padding-right: 0.15rem;
    width: 0.8rem;
    height: 0.8rem;
}

.rating__score {
    font-size: 0.65rem;
    line-height: 1.4;
    color: #A1A1A1;
    margin-right: 1rem;

}

.rating__score2 {
    font-size: 0.55rem;
    line-height: 1.3;
    color: #A3CC40;
    margin-right: 0.15rem;
    font-weight: 700;
}

.rating__descr {
    font-size: 0.65rem;
    line-height: 0.85rem;
    color: #A1A1A1;
}


.block03_second {
    margin-top: 3rem;
}

.block03_second-img>img {

    border-radius: 0.31rem;
    width: 85%;
}

.block03_second-text1 {
    font-family: IBM Plex Sans;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #A3CC40;


}

.block03_second-text2 {
    font-family: IBM Plex Sans;
    font-weight: 300;
    font-size: 0.43rem;
    line-height: 0.56rem;
    color: #333333;
}

.block03_second-header {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 0.93rem;
    line-height: 1.18rem;
    color: #A1A1A1;
}

.block03__second-text {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 0.93rem;
    line-height: 19px;
    color: #333333;
}

.block03__second-text {
    margin: 2rem 0rem 2rem 2rem;
}

.block03__second-text1 {
    position: absolute;
    font-weight: 500;
    font-size: 0.5rem;
    color: #A3CC40;

}

.block03__second-text1 {
    right: 12rem;
    margin-top: -2rem;
}

.footer-single {
    margin-top: 3rem;
}

.dropdown-list-second {
    top: 4.5rem;
}


.skeleton-box-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.skeleton-film-box {
    width: 15.75rem;
    height: 15.75rem;
    border-radius: 1%;

    animation: shine-avatar 1.6s infinite linear;
}


.skeleton-film-box:nth-child(1) {
    animation-delay: -0.4s;
}

.skeleton-film-box:nth-child(2) {
    animation-delay: -0.6s;
}

.skeleton-film-box:nth-child(3) {
    animation-delay: -0.8s;
}

.skeleton-film-box:nth-child(4) {
    animation-delay: -1.0s;
}

.skeleton-film-box:nth-child(5) {
    animation-delay: -1.2s;
}

.skeleton-film-box:nth-child(6) {
    animation-delay: -1.4s;
}

.skeleton-film-box:nth-child(7) {
    animation-delay: -1.6s;
}

.skeleton-film-box:nth-child(8) {
    animation-delay: -1.8s;
}

.skeleton-film-box:nth-child(9) {
    animation-delay: -2.0s;
}

@keyframes shine-avatar {
    0% {
        background-color: #A3CC40;

    }

    100% {
        background-color: #A1A1A1;
    }
}