/** Медиа – правила */

@media screen and (max-width:1200px) {

    html {
        font-size: 1.63vw;
    }

    .block01__col1 {

        padding-right: 0.12rem;
        padding-left: 2.5rem;
    }

    .block02__info {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 1.5rem 0.8rem rgb(163 204 64 / 18%);
        border-radius: 0.7rem;
        padding: 2.7rem 2.9rem;
        max-width: 27.3rem;
        right: 4.9rem;
        bottom: -18.3rem;
    }

    .block02__image-wrap>img {
        display: block;
        width: 100%;

    }

    .block05__bg>img {
        display: block;
        width: 100%;
        /* Ширина изображений */
    }


    @media screen and (max-width:1024px) {

        html {
            font-size: 2.vw;
        }

        .block01__col1 {

            padding-right: 0.12rem;
            padding-left: 1.6rem;
        }

        .block02__info {
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 1.5rem 0.8rem rgb(163 204 64 / 18%);
            border-radius: 0.7rem;
            padding: 2.7rem 2.9rem;
            max-width: 27.3rem;
            right: 4.9rem;
            bottom: -12.3rem;
        }


        .block05__bg>img {
            display: block;
            width: 100%;
            /* Ширина изображений */
        }

    }

    @media screen and (max-width:768px) {

        html {
            font-size: 3.5vw;
        }

        .block01 {
            height: 17.25rem;
        }

        .block01::after {

            border-right: 131vw solid #fff;

        }

        .block01__col1 {

            padding-right: 16.8rem;
            padding-left: 2.7rem;
            margin-top: -1.4rem;
        }

        .menu__button {
            display: block;
            margin-top: -0.7rem;
        }

        .menu__wrapper {
            transform: translateX(100%);
            position: fixed;
            padding: 1rem;
            background: #fff;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            transition: .2s;
        }

        .menu__button:hover+.menu__wrapper,
        .menu__wrapper_opened {
            transform: translateX(0);
        }


        .block01__tel,
        .block01__mail,
        .block01__address,
        .block01__call,
        .block01__speakers,
        .block01__even,
        .block01__contact,
        .block01__sponsors,
        .block01__past {
            color: aqua;
            display: table;
        }

        .block01__tel,
        .block01__mail,
        .block01__address,
        .block01__call {
            margin-left: 0;
        }

        .block01__row2 {
            display: table;
            margin-left: 0;
        }

        .block01__h1 {
            font-size: 1.7rem;
            margin-top: -4.7rem;

        }

        .block01__h2 {
            font-size: 1.0rem;
        }

        .block02__header {
            margin-bottom: 2.2rem;
        }

        .block02__image-wrap>img {
            display: block;
            width: 100%;


        }

        .simple-text {
            font-size: 0.45rem;
            padding: 0;

        }

        .block02__text3 {

            padding: 1.25rem 0 0 0;
        }

        .block02__text1 {
            font-size: 0.9rem;
            text-align: center;
            margin-bottom: 0.4rem;
        }

        .block02__text2 {
            font-size: 0.4rem;
        }

        .block02__plus {

            float: left;
            width: 33.33%;
            /* padding: 0 2.2rem;*/
            /*text-align: center;
    padding-left: 0.6rem;*/

        }

        .block02__header,
        .block03__header,
        .block05__header,
        .block06__header,
        .block07__header {

            font-size: 1.5rem;
        }

        .block02__text3 {
            font-size: 0.65rem;
            padding: 0.2rem;
        }




        .block02__info {
            padding: 1rem 1.0rem 0rem;
            max-width: 14.0rem;
            right: 5.9rem;
            bottom: -2.3rem;
        }

        .block03__table-wrap {
            overflow: auto;
        }

        .block03__table {
            min-width: 950px;

        }

        .block03__color1,
        .block03__color2 {
            font-size: 0.7rem;
        }

        .block03__link {
            font-size: 1rem;
        }

        .block03_text_wrapper {
            padding-left: 0%;
            padding-right: 0%;
        }

        .block04 {
            height: 26.25rem;
        }

        .simple-text2 {

            padding: 0.3rem 0rem 0.6rem 0rem;
        }

        .block04__header {
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }

        .block04_present-descr {


            margin-top: -15rem;
        }

        .button1__small {
            width: 13rem;
            height: 1.6rem;
            margin-top: 0.3rem;
        }

        .block04__image-wrap {
            margin-top: 3rem;
        }

        .simple-text2 {
            font-size: 0.4rem;
        }

        .block05__text1 {

            max-width: 100%;
            text-align: left;
            margin-bottom: 2rem;
        }

        .block05__text2 {
            font-size: 1.0rem;
        }

        .block05__text3 {
            font-size: 0.4rem;
        }

        .block05__descr {
            padding-top: 1rem;
            background: rgba(7, 7, 7, 0.8);
        }

        .block06 {
           margin-top: -4rem;
        }

        .block06__text1 {
            max-width: 100%;
            text-align: left;
            margin-top: 1rem;
        }

        .block06__products {

            margin-top: 2rem;
        }

        .block06__abs {

            font-size: 0.6rem;
            height: 2.5rem;
            width: 7.5rem;
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            box-sizing: border-box;
            bottom: 0.85rem;
            left: 0.1rem;
        }

        .block06__inner_one {
            margin-top: 0.3rem;
        }

        .block06__inner_three {
            margin: -0.4rem;
        }

        .block06__abs::before {

            border-top: 2.5rem solid transparent;
            border-right: 7.5rem solid rgba(163, 204, 64, 0.8);
        }

        .block06_add-img {
            width: 100%;


        }


        .block07 {

            height: 17.6rem;
        }

        .block07__header {
            padding-top: 4rem;
        }

        .block07__text1 {
            max-width: 100%;
            text-align: left;
        }

        .block07__item>img {
            width: 7.3rem;
            height: 5.6rem;
        }

        .block07__abs {

            left: 1.1rem;
            right: 1.0rem;
            bottom: 70px;
            padding: 0rem 2rem;
            text-align: center;
            font-size: 1.3rem;
            line-height: 1.3;
            font-weight: 400;
            color: #fff;
            height: 5.5rem;
            padding-bottom: 5.2rem;
            border-bottom-left-radius: 0.7rem;
            border-bottom-right-radius: 0.7rem;
        }

        .block07__name {

            font-size: 0.4rem;

        }

        .block07__descr {
            font-size: 0.4rem;
        }

        .block07__date {

            font-size: 0.3rem;
        }

        @media screen and (max-width:480px) {}

        @media screen and (max-width:320px) {}